{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <a href="{% url 'register' %}" class="c">register</a>
    <form action="" method="post" class="unput">
        {% csrf_token %}
        <label for="username">Username</label>
        <input required type="text" name="username" class="unn"> <br>

        <label for="password">Enter ur password</label>
        <input required type="text" name="password" class="unn"> <br>


        <button type="submit" class="but">Login</button>


    </form>
    <p style="color: red;">{{error}}</p>
</body>
</html>